@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display&display=swap');

//font-family 
@font-face {
   font-family: 'AkrobatLight';
   src: url('../src/font/akrobat-family/Akrobat-Light.otf');
}
@font-face {
   font-family: 'Charlotte';
   src: url('../src/font/charlotte/charlotte.otf');
}

//Var 
 $primary: #90a181; 
 $secondry: #a58f66;
 $secondry-two-color: #c7b490;
 $third-color: #ffffff; 
 $fourth-color: #70835f; 
 $fourth-two-color: #4b5c3c;
 $fivth-color: #c995b3; 
$fivth-two-color: #aa648d;
 $sixth-color: #15223b;
 $ex: #ff73a4;
 $seventh-color: #566989;
 





*{
    margin: 0;
    padding: 0;
    font-family: 'AkrobatLight';
   //  font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    font-weight: 300;
 }
 body{
   overflow-x: hidden;
   background-color: $third-color;
    
 }
 header{
   width: 100%;
   
 }
 nav{
    height: 5rem;
    width: 100%;
    background-color: $third-color;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
   
    
 }
 
 /*Styling logo*/
 .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .top-container{
      width: 50%;
      height: auto; 
      display: flex;
      justify-content: center;
      
      

      .top-span{
         text-align: center; 
         font-size: 18px;
         letter-spacing: 5px;
      }
     
      


    }
    .bottom-container{
      width: 50%;
      height: auto;
      border-top: 1px solid $ex;
      display: flex;
      justify-content: center;
      



      .bottom-span{
          text-align: center;
         //  font-family: 'Charlotte';
          font-size: 9px;
          padding-top: 5px;

      }

     

    }
   
    span{
      color: black; 
      font-size: 17px; 
      font-weight:bold; 
      letter-spacing: 1px;
      margin-left: 20px;
      text-transform: uppercase;
       
    }
 }
 

 
 /*Styling Links*/
 .nav-links{
    display: flex;
    list-style: none; 
    width: 80%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    li {
      a{
         color: rgb(0, 0, 0 , 0.7) ;
      }
    }
 }
 .nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    
   
 }
 .nav-links li a:hover {
    color: $fivth-color;
    border-bottom: 3px solid $fivth-color;
    transition: all ease-in 350ms;
    
 }
 .nav-links li {
    position: relative;
 }
 .nav-links li a:hover::before{
    width: 80%;
 }
 
 /*Styling Buttons*/
 .login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
 
 }
 .login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
 }
 .join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
 }
 .join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
 }
 
 /*Styling Hamburger Icon*/
 .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
 }
 .hamburger{
    display: none;
 }
 
 /*Stying for small screens*/
 @media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 10;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: absolute;
        background: white ;
        height: 4.5rem;
        width: 50%;
        z-index: -2;
        flex-direction: column;
        
      //   clip-path: circle(50px at 90% -20%);
      //   -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-in-out;
        pointer-events: none;
       left: 0;
       right: 0;
       margin-left: 25%;

    }
    .nav-links.open{
      //   clip-path: circle(1000px at 90% -10%);
      //   -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        height: 60vh;
        width: 50%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: -2;
        top: 4.5rem;
        display:flex;
        background-color: white;
        border-top: 1px solid #131418;
    }
    .close{
      display: none;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fate{
        opacity: 1;
    }
 }
 /*Animating Hamburger Icon on Click*/
 .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }
 .pt-6{
   padding-top: 4.5rem !important;
 }



 .home-page {
   height: 100%;
   width: 100%;
   padding-top: 5%;

   .image-container {
      position: relative;
      display: inline-block;
      width: 100%;
      
    }
    
    .image-container img {
      display: block;
      width: 100%;
      height: 400px;
    }
    
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
    }
   .about-me-container{
      width: 100%;
      height: fit-content;
       
      border-bottom: 3px solid $ex;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


      .text-container{
        
          

        
         
      }
      .about-image-container{
         .second-img-container{
            height: auto;
            width: auto;

            img{
               height: 200px;
            }
           
         }
       
      }
   } 
   
}
  
    
   

   

 

 // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   .pt-sm-6{
      padding-top: 4.5rem !important;
   }
   nav{
      height: 4.5rem;
      width: 100%;
      background-color: $third-color;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: fixed;
      z-index: 10;
      
   }
   .logo{
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-container{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        
      //   border-bottom: 3px solid $fivth-two-color;
  
        .top-span{
           text-align: center; 
        }
       
        
  
  
      }
      .bottom-container{
        width: 100%;
        height: auto;
        border-top: 1px solid $ex;
        display: flex;
        justify-content: center;
        
  
  
  
        .bottom-span{
            text-align: center;
            // font-family: 'Charlotte';
            font-size: 9px;
            padding-top: 5px;
        }
  
       
  
      }
     
      span{
        color: black; 
        font-size: 17px; 
        font-weight:bold; 
        letter-spacing: 1px;
        margin-left: 20px;
        text-transform: uppercase;
         
      }
   }
    
   .home-page {
     height: 400px;

   .image-container {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    
    .image-container img {
      display: block;
      width: 100%;
      height: 400px;
    }
    
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
    }
    .about-me-container{
      width: 100%;
      height: fit-content;
       
      
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


      .text-container{
        
          

        
         
      }
      .about-image-container{
         

            img{
               height: 400px;
            }
           
         
       
      }
   } 
   
}

  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
   .pt-md-6{
      padding-top: 4.5rem !important;
   }
   nav{
      height: 6rem;
      width: 100%;
      background-color: $third-color;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: fixed;
      z-index: 10;
      
   }
   
   .logo{
      width:40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-container{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        
      //   border-bottom: 3px solid $fivth-two-color;
  
        .top-span{
           text-align: center; 
        }
       
        
  
  
      }
      .bottom-container{
        width: 100%;
        height: auto;
        border-top: 1px solid $ex;
        display: flex;
        justify-content: center;
        
  
  
  
        .bottom-span{
            text-align: center;
            // font-family: 'Charlotte';
            font-size: 9px;
            padding-top: 5px;
        }
  
       
  
      }
     
      span{
        color: black; 
        font-size: 17px; 
        font-weight:bold; 
        letter-spacing: 1px;
        margin-left: 20px;
        text-transform: uppercase;
         
      }
   }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  

   .home-page {
      height: 600px;
 
    .image-container {
       position: relative;
       display: inline-block;
       width: 100%;
     }
     
     .image-container img {
       display: block;
       width: 100%;
       height: 600px;
     }
     
     .text-overlay {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       color: white;
     }
   } 

   nav{
      height: 6rem;
      width: 100%;
      background-color: $third-color;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: fixed;
      z-index: 10;
      border-bottom: 4px solid $primary;
   }

   .logo{
      width:35%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-container{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        
      //   border-bottom: 3px solid $fivth-two-color;
  
        .top-span{
           text-align: center; 
        }
       
        
  
  
      }
      .bottom-container{
        width: 100%;
        height: auto;
        border-top: 1px solid $ex;
        display: flex;
        justify-content: center;
        
  
  
  
        .bottom-span{
            text-align: center;
            // font-family: 'Charlotte';
            font-size: 9px;
            padding-top: 5px;
        }
  
       
  
      }
     
      span{
        color: black; 
        font-size: 17px; 
        font-weight:bold; 
        letter-spacing: 1px;
        margin-left: 20px;
        text-transform: uppercase;
         
      }
   }



}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   nav{
      height: 6rem;
      width: 100%;
      background-color: $third-color;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: fixed;
      z-index: 10;
      border-bottom: 4px solid $primary;
   }
   .logo{
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-container{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        
      //   border-bottom: 3px solid $fivth-two-color;
  
        .top-span{
           text-align: center; 
        }
       
        
  
  
      }
      .bottom-container{
        width: 100%;
        height: auto;
        border-top: 1px solid $ex;
        display: flex;
        justify-content: center;
        
  
  
  
        .bottom-span{
            text-align: center;
            // font-family: 'Charlotte';
            

            font-size: 9px;
            padding-top: 5px;
        }
  
       
  
      }
     
      span{
        color: black; 
        font-size: 17px; 
        font-weight:bold; 
        letter-spacing: 1px;
        margin-left: 20px;
        text-transform: uppercase;
         
      }
   }

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
   nav{
      height: 6rem;
      width: 100%;
      background-color: $third-color;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: fixed;
      z-index: 10;
      border-bottom: 4px solid $primary;
   }
   .logo{
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-container{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        
      //   border-bottom: 3px solid $fivth-two-color;
  
        .top-span{
           text-align: center; 
        }
       
        
  
  
      }
      .bottom-container{
        width: 100%;
        height: auto;
        border-top: 1px solid $ex;
        display: flex;
        justify-content: center;
        
  
  
  
        .bottom-span{
            text-align: center;
            // font-family: 'Charlotte';
            font-size: 12px;
            padding-top: 5px;
        }
  
       
  
      }
     
      span{
        color: black; 
        font-size: 17px; 
        font-weight:bold; 
        letter-spacing: 1px;
        margin-left: 20px;
        text-transform: uppercase;
         
      }
   }

 }

 
 